# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore.

# Maven
target/
.mvn/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Local environment
.env
.env.local
set-env.ps1

# Database scripts
database-scripts/
*.sql

# Documentation
*.md
HELP.md

# Git
.git/
.gitignore

